<section class="article-page" *ngIf="content">

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-12">
        <div class="col-12">
          <div class="image-container" *ngIf="content.image">
            <img [src]="content.image"/>
          </div>
        </div>

        <div class="col-12">
          <section class="tile">
          	<header>{{content.title}}</header>
            <p [innerHTML]="content.intro | sanitizeHtml"></p>
            <p [innerHTML]="content.body | sanitizeHtml"></p>
          </section>
        </div>
      </div>

      <div class="col-lg-4 col-12" *ngIf="content.tags && content.tags.length">
        <div class="tile bg_1">
          <header>Related topics</header>
          <nav>
            <span *ngFor="let tag of content.tags">
              <a [href]="'/tag/'+tag" class="badge">
                {{ tag }}
              </a>
            </span>
          </nav>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-12">
        <profile [userId]="content.userId"></profile>
      </div>

    </div>
  </div>

</section>
