@import '../../../../variables.scss';

.add-event-page {
  .image-container {
    width: 100%;
    height: 450px;
    overflow: hidden;

    .image-container{
        width: 100%;
        border-radius: 0;
        height: 450px;

      img {
        background: none;
        width: 100%;
        height: auto;
        margin-top: -20%;
      }
    }
  }

  .row {
    margin-bottom: 25px;
  }

  .page-layout {
    background: #FFF;

    margin: 0 auto 50px;
    border-radius: 3px;
    max-width: $page-width;
    padding: 25px;
    width: 100%;
    color: $color_font;
    position: relative;
    box-shadow: 0px 5px 15px -5px $color_2;

    &--first {
      margin-top: -56px;
    }
  }

  .confirmDelete {
    display: inline-block;
    margin-right: 25px;

    input {
      margin-right: 5px;
    }
  }
}
