@import "../variables";

button,
.btn {
  border: 0;
  border-radius:$border-radius;
  padding: 5px 25px;
  font-size: 1.3rem;
  background: $color_5;
  color: white !important;

  &.error {
    background: $color_error;
    color: white;
  }

  [disabled] {
    opacity: 0.8;
  }

  &-link {
    background: transparent;
    color: $color_3 !important;
    padding: 0;
  }
}
