@import "../variables";

input,
textarea,
select,
option {
  font-weight: 100;
  border: 0;
  border-bottom: 1px solid $color_2;
  background: transparent;
  padding: 3px 5px;

  &[type=text],
  &[type=number] {
    border: 0;
    border-bottom: 1px solid $color_2;
    width: 100%;
  }
  &:focus {
    background: #FFF;
  }
}

quill-editor {
  display: inline-block;
  width: 100%;
  font-family: mr-eaves-modern, sans-serif;

  .ql-container {
    min-height: 100px;
    background: #FFF;
  }
}

textarea,
select,
option {
  width: 100%;
  border: 1px solid $color_2;
}
